{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="row  gy-5">
    <div class="col-md-12">
        <div class="card">
            <img class="bd-placeholder-img card-img-top" src="{% static 'images/books.jpg' %}" width="100%" height="100%" height=100 width=100>

            <div class="card-body">
            <h5 class="card-title">Our story</h5>
            <p class="card-text">Some text</p>
            </div>
        </div>
    </div>


    <div class="col-md-5">
        <div class="card">   
            <div class="card-body">
            <p class="card-text">
                <div class="d-flex flex-column align-items-center">
                    <h4 class="mb-4">Follow us</h4>
                    <ul style="list-style: none;
                    display: flex">
                         <li><a href="https://www.facebook.com/profile.php?id=100007618566213" style="text-decoration:none"><span class="social-icon social-facebook" ><i class="fa fa-facebook"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D1%88%D0%B2%D0%B5%D1%86-a9805922a" style="text-decoration:none"><span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span></a></li>
                        <li><span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span></li>
                        <li><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></li>
                    </ul>
                </div>

            </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <div class="card">   
            <div class="card-body">
        
                <div class="d-flex flex-column align-items-center">
                    <h4 class="mb-4">Our team</h4>
                    
                </div>
                <div class="row gy-3">
                    <div class="col-md-9">
                            <p class="text-end lh-sm"><br>Owner <br>Denys Shvets</p>
                    </div>
                    <div class="col-md-3">
                        <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    </div>
                    <div class="col-md-2">
                        <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    </div>
                    <div class="col-md-10">
                        <p class="text-start lh-sm"><br>Designer <br>Denys Shvets</p>
                    </div>
                    
                    <div class="col-md-9">
                        <p class="text-end lh-sm"><br>Backend engineer<br>Denys Shvets</p>
                    </div>
                    <div class="col-md-3">
                        <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    </div>
                    <div class="col-md-2">
                        <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    </div>
                    <div class="col-md-10">
                        <p class="text-start lh-sm"><br>Frontend engineer <br>Denys Shvets</p>
                    </div>
                    
                    
                </div>

            
            </div>
        </div>
    </div>
</div>
{% endblock content %}