{% extends "base_generic.html" %}
{% block sidebar %}{% endblock sidebar %}
{% block head %}
<style>
    .carousel .item {
        height: 300px;
      }
      
      .item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 300px;
      }
    </style>
{% endblock head %}
{% block body %}

<div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Первый слайд" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFF"></rect></svg>
        
        <div class="container">     
          <div class="carousel-caption d-none d-md-block">
            <div class="row">
              {% for book in books %}
                <div class="col-xs-6 col-md-3">
                    <div class="card h-100" style="width: 14rem;">
                        <a href="{{ book.get_absolute_url }}">
                            <img  class="card-img-top" src="{{ book.get_image }}" alt="" height=320 width=212>
                        </a>
                        <div class="card-body">
                            <div class="caption">
                            <h6>{{ book.title }}</h6><span class="price">
                                <span class="price">Price</span>
                                <span class="price sale">${{ book.price }}</span>
                            </div>
                        </div>
                    </div>
                </div> 
              {% endfor %}
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="carousel-item">
        
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Первый слайд" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFF"></rect></svg>
        
        <div class="container">     
          <div class="carousel-caption d-none d-md-block">
            <div class="row">
              {% for book in books2 %}
                <div class="col-xs-6 col-md-3">
                    <div class="card h-100" style="width: 14rem;">
                        <a href="{{ book.get_absolute_url }}">
                            <img  class="card-img-top" src="{{ book.get_image }}" alt="" height=320 width=212>
                        </a>
                        <div class="card-body">
                            <div class="caption">
                            <h6>{{ book.title }}</h6><span class="price">
                                <span class="price">Price</span>
                                <span class="price sale">${{ book.price }}</span>
                            </div>
                        </div>
                    </div>
                </div> 
              {% endfor %}
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="carousel-item">
        
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Первый слайд" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFF"></rect></svg>
        
        <div class="container">     
          <div class="carousel-caption d-none d-md-block">
            <div class="row">
              {% for book in books3 %}
                <div class="col-xs-6 col-md-3">
                    <div class="card h-100" style="width: 14rem;">
                        <a href="{{ book.get_absolute_url }}">
                            <img  class="card-img-top" src="{{ book.get_image }}" alt="" height=320 width=212>
                        </a>
                        <div class="card-body">
                            <div class="caption">
                            <h6>{{ book.title }}</h6><span class="price">
                                <span class="price">Price</span>
                                <span class="price sale">${{ book.price }}</span>
                            </div>
                        </div>
                    </div>
                </div> 
              {% endfor %}
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="row gy-5">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-header">{{ books.0.title }}</h5>
              <div class="row">
                <div class="col-lg-5 col-md-12 col-xs-12">
                  <a href="{{ books.0.get_absolute_url }}">
                    <img  src="{{ books.0.get_image }}" alt="" height=320 width=212>
                  </a>
                </div>
                <div class="caption col-lg-7 col-md-12 col-xs-12">
                <span class="price">
                    <p>{{ books.0.summary }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-2 col-xs-1"></div>
        <div class="col-lg-6 col-md-2 col-xs-1"></div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-header">{{ books.1.title }}</h5>
              <div class="row">
                <div class="col-lg-5 col-md-12 col-xs-12">
                  <a href="{{ books.1.get_absolute_url }}">
                    <img  src="{{ books.1.get_image }}" alt="" height=320 width=212>
                  </a>
                </div>
                <div class="caption col-lg-7 col-md-12 col-xs-12">
                <span class="price">
                    <p>{{ books.1.summary }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
{% block footer %}
  {% block copyright %}
    <p class="mt-5 mb-3 text-muted d-flex justify-content-center">Copyright OOO "People and books", 2022. All rights reserved</p>
  {% endblock copyright %}
{% endblock footer %}
{% endblock body %}
