{% extends 'base_generic.html' %}

{% block content %}
    {% if form.errors %}
    <p>Your username or password didnt match. Try again</p>
    {% endif %}
    {% comment %} {% if next %}
        {% if user.is_authenticated %}
        <p>You do not have access to this page</p>
        {% else %}
        <p>Plese, log in to see this page</p>
        {% endif %}
    {% endif %} {% endcomment %}

    <form method="post" action="reset_password">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password}}</td>
            </tr>
            <p>Repeat your password</p>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password}}</td>
            </tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
    
{% endblock content %}