{% extends "base_generic.html" %}

{% block content %}
<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">List of books</h1>
    {% if book_list %}
    <ul>
        <div class="row flow-offset-1">
            {% for book in book_list %}
            
            <div class="col-xs-6 col-md-4">
                <div class="product tumbnail thumbnail-3"><a href="{{ book.get_absolute_url }}"><img src="{{ book.get_image }}" alt="" height=320 width=212></a>
                    <div class="caption">
                    <h6><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h6><span class="price">
                        </span><span class="price sale">${{ book.price }}</span>
                    </div>
                </div>
            </div> 
            {% endfor %}
        
        </div>
    </ul>
    {% else %}
    <p>Databaase has no books</p>
    {% endif %}
</div>
{% endblock %}