{% extends "base_catalog.html" %}

{% block content %}
<div class="container bootstrap snipets"> 
    <h1 class="text-center text-muted">List of books</h1>
    {% if book_list %}
    <ul class="gap-3">
        <div class="row gy-3 flow-offset-1 ">
            {% for book in page_obj %}
            
             <div class="col-xs-6 col-md-4">
                    <div class="card h-100" style="width: 14rem;">
                        <a href="{{ book.get_absolute_url }}">
                            <img  class="card-img-top" src="{{ book.get_image }}" alt="" height=320 width=212>
                        </a>
                        <div class="card-body">
                            <div class="caption">
                            <h6>{{ book.title }}</h6><span class="price">
                                <span class="price">Price</span>
                                <span class="price sale">${{ book.price }}</span>
                            </div>
                        </div>
                    </div>
            </div>  
            {% endfor %}
        
        </div>
    </ul>
    {% else %}
    <p>Databaase has no books</p>
    {% endif %}
 </div> 
{% endblock %}